OCR_BACKEND=local
OCR_HOST=127.0.0.1
PORT=4190
OCR_CORS_ORIGIN=*
OCR_MAX_BODY_SIZE=10485760
RECEIPT_OCR_SHARED_SECRET=

LOCAL_OCR_MAX_SIDE=1600
LOCAL_OCR_DET_LIMIT=1280
LOCAL_OCR_BATCH_SIZE=4
LOCAL_OCR_MAX_ATTEMPTS=2
RECEIPT_OCR_REVIEW_THRESHOLD=0.68
RECEIPT_OCR_AMOUNT_TOLERANCE=1

OMP_THREAD_LIMIT=2
